body{
    text-align: center;
}

img.takecare{
    width: 100px;
    border: solid 3px #333;
}

#image{
    margin-top: 400px;
}

#room{
    width: 800px;
    height: 800px;
    background-image: url("room.png");
}
