body{
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(17, 204, 29);
}

#btn1{
    position: fixed; /* 今の位置を基準 */
    bottom: 20%;
    left: 30%;
}

.direction{
    
    position: fixed; /* 今の位置を基準 */
    bottom: 0%;
    left: 45%;
}

.arrow{
    width: 100px;
}

#denmaru{
    width: 100px;
    height: 100px;
    position: fixed; /* 今の位置を基準 */
    top: 55%; /* 上から10px */
    left: 50%; /* 左から20px */
}

#ball {
    width: 50px;
    height: 50px;
    position: fixed; /* 今の位置を基準 */
    top: 60%; /* 上から10px */
    left: 50%; /* 左から20px */

}

#goal{
    width:  600px;
    height: 300px;
    position: fixed; /* 今の位置を基準 */
    top: 0%; /* 上から10px */
    left: 30%; /* 左から20px */
}
